service vendor.keymaster-4-1 /vendor/bin/hw/android.hardware.keymaster@4.1-service.remote
    interface android.hardware.keymaster@4.0::IKeymasterDevice default
    interface android.hardware.keymaster@4.1::IKeymasterDevice default
    class early_hal
    user system
    group system drmrpc
