.*
*.o
*.buildinfo
*.build
*.changes
*.deb
*.dsc
*.pyc
*.lock

cuttlefish-*_*.*.*.tar.xz

!/.config/
!/.github/
!/.kokoro/
!/.clang-format

/*/debian/cuttlefish-*/
/*/debian/*.substvars
/*/debian/files
/*/debian/*.debhelper
/*/debian/debhelper-build-stamp
/*/debian/*.log

frontend/src/operator/webui/src/environments/version.ts

/bazel-*
/**/bazel-*
MODULE.bazel.lock

/tools/baseimage/create_gce_x86_64_image
