.*
*.o
*.buildinfo
*.build
*.changes
*.deb
*.dsc
*.pyc

cuttlefish-*_*.*.*.tar.xz

!/.github/
!/.kokoro/

/*/debian/cuttlefish-*/
/*/debian/*.substvars
/*/debian/files
/*/debian/*.debhelper
/*/debian/debhelper-build-stamp
/*/debian/*.log

frontend/src/operator/webui/src/environments/version.ts

