bazel-*
experimental/android
.*
*.deb
*.log
*.pyc

/cuttlefish-common_*.*
/cuttlefish-common_*.*
/cuttlefish-common_*.*
/cuttlefish-common_*.*

/debian/cuttlefish-integration/
/debian/cuttlefish-common/
/debian/*.substvars
/debian/files
/debian/*.debhelper
