# TODO: Safe to remove once cl/987051135 is merged.

build_file: "android-cuttlefish/.kokoro/no_op.sh"

action {
  define_artifacts {
    regex: "github/android-cuttlefish/*.deb"

    # Matches all files regardless of directory depth:
    regex: "kokoro_test_results/**"
  }
}
