# Allow mediatranscoding service to access media-related system properties
get_prop(mediatranscoding, media_config_prop)

# Allow mediatranscoding service to use DMA-BUF
allow mediatranscoding dmabuf_system_heap_device:chr_file r_file_perms;

# Allow mediatranscoding service to access the GPU
gpu_access(mediatranscoding)
