[Unit]
Description=Cuttlefish Host Resources
After=syslog.target network.target
Requires=libvirtd.service
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
ExecStart=/etc/rc.d/init.d/cuttlefish-host-resources start

[Install]
WantedBy=multi-user.target

