<div
  class="list-pane-title"
  style="margin: 10% auto; position: relative; text-align: center"
>
  Devices
  <span id="refresh-list" title="Refresh list" (click)="onRefresh()"
    >&#8635;</span
  >
</div>
<div>
  <ul class="devices">
    <section class="device-list">
      <li *ngFor="let device of devices | async">
        <!--Implemented with checkbox, not radio button as current page-->
        <mat-checkbox
          class="checkbox"
          [checked]="device.isVisible"
          (change)="onSelect(device)"
          >{{ device.id }}</mat-checkbox
        >
      </li>
    </section>
  </ul>
</div>
