Source: cuttlefish-common
Maintainer: Cuttlefish Team
Section: misc
Priority: optional
Build-Depends: config-package-dev,
               debhelper-compat (= 12),
               clang,
               pkg-config,
               meson,
               libfmt-dev,
               libgflags-dev,
               libjsoncpp-dev,
               libcurl4-openssl-dev,
               libgoogle-glog-dev,
               libgtest-dev,
               libssl-dev,
               libxml2-dev,
               uuid-dev,
               libprotobuf-dev,
               libprotobuf-c-dev,
               protobuf-compiler,
               libz3-dev
Standards-Version: 4.5.0

Package: cuttlefish-base
Architecture: any
Depends: adduser,
         binfmt-support [arm64],
         bridge-utils,
         curl,
         dnsmasq-base,
         e2fsprogs,
         ebtables-legacy | ebtables,
         f2fs-tools,
         grub-efi-arm64-bin [arm64],
         grub-efi-ia32-bin [!arm64],
         iproute2,
         iptables,
         libarchive-tools | bsdtar,
         libdrm2,
         libfdt1,
         libgl1,
         libusb-1.0-0,
         libwayland-client0,
         libwayland-server0,
         libx11-6,
         libxext6,
         lsb-base,
         net-tools,
         openssl,
         python3,
         qemu-user-static [arm64],
         util-linux,
         ${misc:Depends},
         ${shlibs:Depends}
Pre-Depends: ${misc:Pre-Depends}
Breaks: cuttlefish-common (<= 0.9.24)
Description: Cuttlefish Android Virtual Device companion package
 Contains set of tools and binaries required to boot up and manage
 Cuttlefish Android Virtual Device that are used in all deployments.

Package: cuttlefish-common
Architecture: any
Depends: cuttlefish-base,
         cuttlefish-user,
Description: Cuttlefish Android Virtual Device companion package
 Metapackage ensuring all packages needed to run and interact with
 Cuttlefish device are installed.

Package: cuttlefish-integration
Architecture: any
Depends: cuttlefish-base,
         qemu-system-arm (>= 2.8.0),
         qemu-system-x86 (>= 2.8.0),
         qemu-system-misc (>= 2.8.0),
         ${shlibs:Depends},
         ${misc:Depends}
Pre-Depends: ${misc:Pre-Depends}
Conflicts: ${diverted-files}
Provides: ${diverted-files}
Description: Utilities for Android cuttlefish devices in the cloud
 Configuration and utilities for Android cuttlefish devices running on
 Google Compute Engine. Not intended for use on developer machines.
