.list-pane-title {
  display: flex;
  justify-content: space-between;
  padding-left: 19px;
  padding-right: 15px;
  font-size: 22px;
}

#refresh-list {
  cursor: pointer;
}

.device-list {
  ul {
    list-style-type: none;
    padding: 0;
  }

  ul.groups {
    margin: 1em;
  }

  ul.devices {
    margin: 1em 0 2.5em;
  }

  li {
    justify-content: space-between;
    font-size: 60%;
    cursor: pointer;
  }

  li.device-entry {
    display: flex;
    position: relative;
    left: 0;
    margin: 0.1em;
    padding: 0.2em;
    height: 8em;
  }

  mat-slide-toggle {
    margin: 10px;
  }

  button {
    display: inline-block;
    color: #073042;
  }

  .group-name {
    font-size: large;
    padding-left: 0.4em;
  }
}

.show-all {
  display: block;
  margin: auto;
}
