starting_at_board_api(202504, `
typeattribute hal_mediaquality_default unconstrained_vsock_violators;
')

allow hal_mediaquality_server self:{ socket vsock_socket } create_socket_perms_no_ioctl;
