# This file should contain entries specific to the virtio hardware only, for
# common entries use common file instead.
import /vendor/etc/init/hw/init.common.rc

# TODO add virtio specific stuff here
# logcat and kernel logs on vsockets instead of serial port would be good
# examples