# This file should contain entries specific to the vsoc hardware only, for
# common entries use common file instead.
import /init.recovery.common.rc

service socket_forward_proxy /system/bin/socket_forward_proxy
    seclabel u:r:socket_forward_proxy:s0

on boot
    start socket_forward_proxy
