# android.permission.cts.FileSystemPermissionTest#testDevHwRandomLockedDown
/dev/hw_random 0600 root root

# virtio-gpu
/dev/dri/card0 0660 system graphics
/dev/dri/controlD64 0660 system graphics
/dev/dri/renderD128 0666 system graphics

# media.codec2
/dev/ion 0664 system system

# resume-on-reboot
/dev/block/pmem0 0770 system system

# vtpm
/dev/tpm0 0000 root root
/dev/tpmrm0 000 system system

# seriallogging
/dev/hvc2 0660 system logd
