Source: cuttlefish-frontend
Maintainer: Cuttlefish Team
Section: misc
Priority: optional
Build-Depends: config-package-dev,
               curl,
               debhelper-compat (= 12),
               golang (>= 2:1.13~) | golang-1.13,
               libprotobuf-dev,
               protobuf-compiler,
Standards-Version: 4.5.0

Package: cuttlefish-user
Architecture: any
Depends: cuttlefish-base,
         adduser,
         openssl,
         ${misc:Depends},
         ${shlibs:Depends}
Pre-Depends: ${misc:Pre-Depends}
Description: Cuttlefish Android Virtual Device companion package
 Contains the host signaling server supporting multi-device flows
 over WebRTC.

Package: cuttlefish-orchestration
Architecture: any
Depends: cuttlefish-user,
         adduser,
         bash,
         openssl,
         nginx,
         systemd-journal-remote,
         ${misc:Depends},
         ${shlibs:Depends}
Pre-Depends: ${misc:Pre-Depends}
Description: Cuttlefish Android Virtual Device companion package
 Contains the host orchestrator.
