Source: cuttlefish-common
Maintainer: Cuttlefish Team <https://android-review.googlesource.com/#/c/platform/device/google/cuttlefish>
Section: misc
Priority: optional
Standards-Version: 3.9.2
Build-Depends:
 clang-3.8,
 debhelper (>= 9),
 libgflags-dev,
 libgoogle-glog-dev,
 libudev-dev,
 libvirt-dev,
 libxml2-dev,
 libjsoncpp-dev,
 cdbs,
 debhelper,
 dh-buildinfo,
 config-package-dev (>= 4.5~),
 libnl-3-dev,
 libnl-genl-3-dev

Package: cuttlefish-common
Architecture: amd64
Depends:
 adb,
 device-tree-compiler,
 hostapd,
 libarchive-tools | bsdtar,
 libc6,
 libgoogle-glog0v5 | libgoogle-glog0,
 libnl-genl-3-200,
 libstdc++6,
 libudev1,
 libvirt-bin | libvirt-clients,
 libvirt-daemon-system,
 libxml2,
 linux-image-extra-virtual | linux-image-amd64 (>= 4.9),
 psmisc,
 python,
 qemu-kvm (>= 2.8.0),
 qemu-system-common (>= 2.8.0),
 qemu-system-x86 (>= 2.8.0),
 qemu-utils (>= 2.8.0),
 socat,
 vde2,
 ${misc:Depends}
Provides: ${diverted-files}
Conflicts: ${diverted-files}
Description: Cuttlefish Android Virtual Device companion package.
 Contains set of tools and binaries required to boot up and manage
 Cuttlefish Android Virtual Device that are used in all deployments.

Package: cuttlefish-integration
Architecture: amd64
Depends:
 adb,
 cuttlefish-common,
 libc6,
 ${misc:Depends}
Provides: ${diverted-files}
Conflicts: ${diverted-files}
Description: Configuration and utilities for Android cuttlefish devices
 running on Google Compute Engine. Not intended for use on developer machines.
