#!/usr/bin/make -f

# Start build by executing:
# $ debuild --no-tgz-check -us -uc

# Uncomment this line out to make installation process more chatty.
# Keep it on until we know there's no outstanding problems with installation.
# export DH_VERBOSE=1

DEB_DISPLACE_EXTENSION = .cuttlefish
DEB_DISPLACE_FILES_cuttlefish-integration += \
        /etc/default/instance_configs.cfg.template.cuttlefish

DEB_DISPLACE_FILES_cuttlefish-common += \
	/etc/apparmor.d/libvirt/TEMPLATE.qemu.cuttlefish

build:
	make -C host/commands/adbshell

include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/rules/config-package.mk
