#!/usr/bin/make -f

# Start build by executing:
# $ debuild --no-tgz-check -us -uc

# Uncomment this line out to make installation process more chatty.
# Keep it on until we know there's no outstanding problems with installation.
# export DH_VERBOSE=1

# There's a bug here
export DEB_BUILD_MAINT_OPTIONS=hardening=-format

include /usr/share/dpkg/buildflags.mk


%:
	dh $@ --with=config-package

SOURCE_DIR := host/commands/adbshell
override_dh_auto_build:
	cc -std=c99 -Wall -D_XOPEN_SOURCE $(CFLAGS) $(CPPFLAGS) $(LDFLAGS) $(SOURCE_DIR)/adbshell.c -o $(SOURCE_DIR)/adbshell

override_dh_auto_clean:
	-rm -f $(SOURCE_DIR)/adbshell
	dh_auto_clean
