service wpa_supplicant /apex/com.google.cf.wpa_supplicant/bin/hw/wpa_supplicant \
    -O/data/vendor/wifi/wpa/sockets -dd \
    -g@android:wpa_wlan0
    #   we will start as root and wpa_supplicant will switch to user wifi
    #   after setting up the capabilities required for WEXT
    #   user wifi
    #   group wifi inet keystore
    interface aidl android.hardware.wifi.supplicant.ISupplicant/default
    class main
    socket wpa_wlan0 dgram 660 wifi wifi
    user root
    disabled
    oneshot

service hostapd /apex/com.google.cf.wpa_supplicant/bin/hw/hostapd
    interface aidl android.hardware.wifi.hostapd.IHostapd/default
    class main
    capabilities NET_ADMIN NET_RAW
    user wifi
    group wifi net_raw net_admin
    disabled
    oneshot
