# File types
type initial_metadata_file, file_type;
type sensors_hal_socket, file_type;
type tombstone_snapshot_file, file_type;
type var_run_system_file, file_type;
