# /dev/tty* I/O. Needed for /dev/ttyS0
allow init serial_device:chr_file rw_file_perms;

# Write to /configfs files. Needed only for /config/usb_gadget subtree.
allow init configfs:file w_file_perms;
allow init configfs:lnk_file create;

# Add loadable modules. Needed for usbfunc:diag, usbfunc:diag, usbfunc:gsi, usbfunc:qdss modules.
allow init kernel:system module_request;
