type socket_forward_proxy, domain;
type socket_forward_proxy_exec, exec_type, file_type;

init_daemon_domain(socket_forward_proxy)

allow socket_forward_proxy_exec self:capability dac_override;

