type socket_forward_proxy, domain;
type socket_forward_proxy_exec, exec_type, vendor_file_type, file_type;

init_daemon_domain(socket_forward_proxy)

