type vendor_init_radio_prop, property_type;

allow vendor_init {
  audio_device
  input_events_device
  libcuttlefish_rild_device
  region_screen_device
}:chr_file { getattr };

set_prop(vendor_init, vendor_init_radio_prop)
