type vsoc_input_service, domain;
type vsoc_input_service_exec, exec_type, file_type;

init_daemon_domain(vsoc_input_service)

# I/O with /dev/uinput
allow vsoc_input_service uhid_device:chr_file rw_file_perms;

