type vsoc_guest_region_e2e_test, domain;
type vsoc_guest_region_e2e_test_exec, exec_type, file_type;

init_daemon_domain(vsoc_guest_region_e2e_test)

allow vsoc_guest_region_e2e_test self:capability dac_override;

# Access region test devices
allow vsoc_guest_region_e2e_test region_e2e_test_device:chr_file rw_file_perms;
