type wifi_setup, domain;
type wifi_setup_exec, exec_type, vendor_file_type, file_type;

init_daemon_domain(wifi_setup)
allow wifi_setup self:netlink_kobject_uevent_socket create_socket_perms_no_ioctl;
