on property:vendor.dlkm.modules.ready=true
    start bt_vhci_forwarder

service bt_vhci_forwarder /vendor/bin/bt_vhci_forwarder -virtio_console_dev=${vendor.ser.bt-uart}
    user bluetooth
    group bluetooth

