build --build_tag_filters=-clang_tidy,-clang-tidy
build --copt=-fdiagnostics-color=always
build --output_filter='^//((?!(external/libarchive|external/libevent|external/rules_flex|external/rules_m4):).)*$'
build --test_output=errors
build --test_summary=terse
