# "clang-diagnostic-pragma-once-outside-header" has a bad interaction with the
# `parse_headers` bazel feature.

Checks: &checks >-
  clang-analyzer-*,
  clang-diagnostic-*,
  -clang-diagnostic-pragma-once-outside-header,
  readability-avoid-const-params-in-decls,
  readability-const-return-type,
  readability-container-size-empty,

UseColor: true

# Using the bazel clang-tidy helper, warnings are not shown from files that
# don't have any errors.  "*" here treats everything from `Checks` as an error,
# and from there some exclusions are added.
WarningsAsErrors: >
  *,
  -clang-analyzer-core.uninitialized.Assign,
  -clang-analyzer-core.UndefinedBinaryOperatorResult,
  -clang-diagnostic-pragma-once-outside-header,
  -clang-diagnostic-unused-const-variable,
  -clang-diagnostic-unused-variable,
