Source: cuttlefish-integration-gigabyte-arm64
Section: misc
Priority: optional
Maintainer: Cuttlefish Team <cloud-android-ext@google.com>
Uploaders: Ying-Chun Liu (PaulLiu) <paulliu@debian.org>,
           Wei-Chung Hsu <weihsu@google.com>,
           Ying-Chun Liu (PaulLiu) <paul.liu@linaro.org>,
           Ying-Chun Liu (PaulLiu) <liupa@google.com>
Rules-Requires-Root: no
Build-Depends: debhelper-compat (= 13)
Standards-Version: 4.6.2
Homepage: https://github.com/google/android-cuttlefish

Package: cuttlefish-integration-gigabyte-arm64
Architecture: any
Multi-Arch: foreign
Depends: dkms,
         libc6-dev,
         libglvnd-dev,
         lzop,
         ntpsec,
         pkgconf,
         ${misc:Depends},
         ${shlibs:Depends}
Description: package for Gigabyte Ampere server
 This package depends on and install configs that the Gigabyte
 Ampere server needs.
