body {
    background-color:black
},
html {
#    position: fixed;
}

.noscroll {
    touch-action: none;
}

.one {
    float: left;
}

.two {
}

#logcat {
    display: none;
    font-family: monospace;
    padding: 10px;
}

