service rename_eth0 /apex/com.android.wifi.hal/bin/rename_netiface eth0 buried_eth0
    oneshot

service setup_wifi /apex/com.android.wifi.hal/bin/setup_wifi
    oneshot

service wpa_supplicant /apex/com.android.wifi.hal/bin/hw/wpa_supplicant_cf -g@android:wpa_wlan0
    interface aidl android.hardware.wifi.supplicant.ISupplicant/default
    socket wpa_wlan0 dgram 660 wifi wifi
    group system wifi inet
    disabled
    oneshot
