<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.android.providers.settings.cuttlefish.wear.overlay">

    <application android:hasCode="false" />

    <overlay
      android:targetPackage="com.android.providers.settings"
      android:isStatic="true"
      android:priority="3"
    />
</manifest>
