allow hal_sensors_default system_server:binder call;

# Read/Write to virtio console
allow hal_sensors_default device:dir r_dir_perms;
allow hal_sensors_default sensors_device:chr_file rw_file_perms;
