<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.google.android.telephony.satellite">
    <application>
        <service android:name=".CFSatelliteService"
                 android:exported="true"
                 android:directBootAware="true"
                 android:persistent="true"
                 android:permission="android.permission.BIND_SATELLITE_SERVICE">
            <intent-filter>
                <action android:name="android.telephony.satellite.SatelliteService" />
            </intent-filter>
        </service>
    </application>
</manifest>
